<%- include('partials/h2') %>


<!-- <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3" style="color: black;">To Do List</h1> -->
    <!-- <p class="lead">To Do List</p> -->
    <!-- <hr>
    <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>*/-->

<section class="cover">
  <div class="content">
    <h1 class="heading">To Do List</h1>
    <div class="cta-btn">
    <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
    
  </div>
</section>


